* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* Navbar */
.main {
  width: 100%;
  height: 45vh;
  background:
    url("../web_img/bgImage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#navbar hr {
  display: none;
}

#navbar {
  display: flex;
  justify-content: space-between;
  position: relative;
  color: white;
}
#navbar .head {
  margin-left: 10%;
  margin-top: 5%;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

#navbar .menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-right: 5%;
  cursor: pointer;
  width: 50%;
}

#navbar .menu a {
  font-size: 1.2rem;
  margin-top: 10%;
  position: relative;
  padding: 5px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  word-spacing: 2px;
  font-weight: bold;
}
#navbar .menu a:hover{
  transform: translate(-2px);
}
/*hamburger */
.open-menu,
.close-menu {
  position: relative;
  color: var(--color1);
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}
.open-menu {
  top: 10%;
  right: -20px;
}
.close-menu {
  top: 10px;
  right: 20px;
}
#check {
  display: none;
}
.heading {
  text-align: center;
  padding-top: 50px;
  font-size: 2.5rem;
  z-index: -1;
  margin-top: 70px;
  color: white;
  text-transform: capitalize;
}

/* About US */
.aboutContent {
  margin: 5%;
  font-size: 1.5rem;
  word-spacing: 5px;
}

.sub-h {
  margin: 5%;
  background-color: rgb(8, 66, 95);
  padding: 20px;
  color: white;
  text-transform: capitalize;
  word-spacing: 2px;
}

.content {
  margin: -1% 6%;
  word-spacing: 3px;
  font-size: 1.2rem;
}
.content p {
  font-size: 1.2rem;

}

/* Contact Us */
.row {
  display: flex;
}
.col-3 {
  width: 33.33%;
}
.mt-10px {
  margin-top: 10px;
}
.contact .cards1 {
  padding: 1%;
  font-size: 1.6rem;
  text-align: center;
  border: 3px solid rgb(19, 98, 138);
  color: rgb(8, 66, 95);
  border-radius: 5%;
  margin: 5% 3%;
  cursor: pointer;
}
.contact .cards1:hover {
  background-color: rgb(19, 98, 138);
  color: white;
  border: 3px solid white;
}
.contact .cards1 p {
  padding: 5%;
}
.contact .cards1 img {
  height: 40%;
  width: 30%;
  border-radius: 50%;
  margin-top: 10px;
  border: 2px solid black;
  cursor: pointer;
}
.text-center {
  text-align: center;
}
.no-b {
  padding: 10px;
  margin-left: 2%;
  font-size: 1.6rem;
  border-radius: 5%;
}
.no-b .contentMe {
  padding-top: 10%;
  margin: 5%;
}
.no-b .contentMe p {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(8, 66, 95);
}
.no-b .contentMe ul {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #0b2d69;
}
.no-b .contentMe .pre {
  font-weight: bold;
  text-align: center;
  color: rgb(8, 66, 95);
}
.no-b img {
  height: 450px;
  width: 450px;
  border-radius: 50%;
}
.no-b .doc {
  color: rgb(8, 66, 95);
  margin: 3%;
}

.form {
  text-align: left;
  font-size: 20px;
  margin-left:20px;
  margin-top: 10px;
}

.info {
  border: 2px solid rgb(216, 216, 216);
  padding: 20px;
  background-color: rgb(19, 98, 138);

  margin-right: 20px;
  color: white;
  font-weight: bold;
  border-radius: 5%;
}
.form .info .ta-c {
  margin-bottom: 15%;
}
.form .info .field {
  margin-top: -5%;
}

input,
#gender {
  height: 5vh;
  width: 100%;
  margin-top: 10px;
  font-size: 1rem;
  background-color: white;
  outline: none;
  border: 2px solid white;
}
#des {
  height: 15vh;
  width: 100%;
  margin-top: 10px;
  background-color: white;
  outline: none;
  border: 2px solid white;
}

.btn2 button {
  font-weight: bold;
  font-size: 1rem;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  width: 80%;
  margin-left: 10%;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;

}
.btn2 button:hover {
  background-color: rgb(6, 87, 128);
  transform: translate(-2px);
}

.login {
  font-size: 20px;
  margin-left: 50px;
}

/* Analysis page*/
.analysis .content .attr{
  color: #102242;
  font-size: 1.5rem;
  text-transform: capitalize;
}
.analysis .content ol.factors{
  margin: 2% 4%;
  line-height: 150%;
  font-size: 1.3rem;
  list-style-type: decimal;
}
.analysis .juypter img{
  margin-top: 5%;
  border:2px solid  #102242;
  border-radius: 2%;
  height:10%;
   width:40%;
}
.analysis .content ul.ul{
  list-style: disc;
}
.analysis .content .algo li{
  margin-top: 3%;
 font-size: 1.5rem;
 color: #102242;
 font-weight: bold;
}
.analysis .content  .score {
  font-size: 1.3rem;
 color: #102242;
 font-weight: bold;
}
.analysis .col-2 {
  width: 50%;
}

.analysis .content .cards1 {
  height: 70vh;
  margin-top: 3%;
  margin-bottom: 3%;
}
.analysis .content .cards1 .bar {
  height:450px; 
  width:600px;
  margin: 5%;
}
.analysis .content .cards1 ul {
  margin: 5%;
}
.analysis .cards1 .pie{
  height:60%; 
  width:50%;
}
.analysis .cards1 .para {
  margin: 5%;
}

/*Footer*/
.footer {
  width: 100%;
  height: 90vh;
  background: url("../web_img/bgImage.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  font-family: cursive;
  margin-top: 5%;
}
.container-footer {
  padding-top: 3%;
}
.ta-c {
  text-align: center;
  margin-bottom: 5%;
  /* background-color: rebeccapurple; */
}

.footer a {
  color: white;
  text-decoration: none;
}

.flex {
  display: flex;
}

ul {
  list-style: none;
}

.footer-col {
  width: 33.33%;
  text-transform: capitalize;
  text-align: center;
}

.footer-col h4 {
  color: white;
  position: relative;
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  text-decoration: none;
  display: block;
  font-size: 1.2rem;
  color: white;
  word-spacing: 5px;
}

.footer-col ul li a:hover {
  color: white;
  padding-left: 10px;
}
.socialLinks {
  text-align: center;
  font-size: 2.5rem;
}
.socialLinks h4 {
  margin: 2%;
}

.socialLinks .social-links a {
  height: 50px;
  width: 50px;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  line-height: 55px;
  border-radius: 50%;
  color: white;
  margin-left: 3%;
  transition: all 0.5s ease;
}

.socialLinks .social-links a:hover {
  color: rgb(8, 66, 95);
  background-color: white;
}

.hs {
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 50px;
  font-size: 1.2rem;
}